<div class="container">
    <h1 class="mb-4">Admin Dashboard</h1>
    <div class="row justify-content-center align-items-center max-vh-100">
        <div class="col-md-6">
            <strong><h3 class="text-center mb-5 text-light">Manage Roles</h3></strong>
            <div class="d-grid gap-3">
                <a asp-controller="Admin" asp-action="Employees" class="btn btn-dark">Manage Employees</a>
                <a asp-controller="Admin" asp-action="Users" class="btn btn-dark">Manage Users</a>
                <a asp-controller="Admin" asp-action="Company" class="btn btn-dark">Manage Company</a>
                <a asp-controller="Admin" asp-action="CompanyBranch" class="btn btn-dark">Manage Company Branch</a>
            </div>
        </div>
    </div>
</div>
