<h1 class="text-center mb-5">Add Company</h1>
<head>
        <link href="https://cdn.jsdelivr.net/npm/switchery@0.8.2/dist/switchery.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/switchery@0.8.2/dist/switchery.min.js"></script>

</head>
<div class="ml-4">
<form asp-controller="Admin" asp-action="CompanyAddition" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
            <div class="col-sm-5">
            <input type="text" class="form-control custom-input" id="Name" name="Name" required>
            </div>
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address:</label>
            <div class="col-sm-5">
            <input type="text" class="form-control custom-input" id="Address" name="Address" required>
            </div>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email:</label>
            <div class="col-sm-5">
            <input type="email" class="form-control custom-input" id="Email" name="Email" required>
            </div>
    </div>
    <div class="mb-3">
        <label for="ContactNo" class="form-label">Contact No:</label>
            <div class="col-sm-5">
            <input type="tel" class="form-control custom-input" id="ContactNo" name="ContactNo">
            </div>
    </div>
    <div class="mb-3">
        <label for="FaxNo" class="form-label">Fax No:</label>
            <div class="col-sm-5">
            <input type="tel" class="form-control custom-input" id="FaxNo" name="FaxNo">
            </div>
    </div>
    <div class="mb-3">
        <label for="Logo" class="form-label">Logo:</label>
            <div class="col-sm-5">
            <input type="text" class="form-control custom-input" id="Logo" name="Logo">
            </div>
    </div>
    <div class="mb-3">
        <label for="CountryId" class="form-label">Country ID:</label>
            <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="CountryId" name="CountryId">
            </div>
    </div>
    <div class="mb-3">
        <label for="CityId" class="form-label">City ID:</label>
            <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="CityId" name="CityId">
            </div>
    </div>
    <div class="mb-3">
        <label for="BankName" class="form-label">Bank Name:</label>
            <div class="col-sm-5">
            <input type="text" class="form-control custom-input" id="BankName" name="BankName">
            </div>
    </div>
    <div class="mb-3">
        <label for="BankIban" class="form-label">Bank Iban:</label>
            <div class="col-sm-5">
            <input type="text" class="form-control custom-input" id="BankIban" name="BankIban">
            </div>
    </div>
            <div class="form-group row mb-3">
                <label for="IsActive" class="col-sm-2 col-form-label">Is Active:</label>
                <div class="col-sm-5">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="IsActive" name="IsActive" value="1">
                        <label class="form-check-label" for="IsActive">Toggle to activate/deactivate</label>
                    </div>
                </div>
            </div>

    <div class="mb-3">
        <label for="AddedBy" class="form-label">Added By:</label>
            <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="AddedBy" name="AddedBy">
            </div>
    </div>
    <div class="mb-3">
        <label for="AddedDate" class="form-label">Added Date:</label>
            <div class="col-sm-5">
            <input type="datetime-local" class="form-control custom-input" id="AddedDate" name="AddedDate">
            </div>
    </div>
    <div class="mb-3">
        <label for="UpdatedBy" class="form-label">Updated By:</label>
            <div class="col-sm-5">
            <input type="number" class="form-control custom-input" id="UpdatedBy" name="UpdatedBy">
            </div>
    </div>
    <div class="mb-3">
        <label for="UpdatedDate" class="form-label">Updated Date:</label>
            <div class="col-sm-5">
            <input type="datetime-local" class="form-control custom-input" id="UpdatedDate" name="UpdatedDate">
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Company</button>
</form>
</div>
<style>
    input[type="checkbox"] {
        position: relative;
        width: 40px; 
        height: 20px; 
        -webkit-appearance: none;
        appearance: none;
        background: orange;
        outline: none;
        border-radius: 0.85rem; 
        cursor: pointer;
        box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
    }

        input[type="checkbox"]::before {
            content: "";
            width: 20px; 
            height: 20px; 
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }

        input[type="checkbox"]:checked::before {
            transform: translateX(100%);
            background: #fff;
        }

        input[type="checkbox"]:checked {
            background: #00ed64;
        }
    .sliding-checkbox {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .custom-input:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
</style>
