@model GroupWork.Models.RoleModel
<h1 class="text-center mb-5">Add Role</h1>
<div class="ml-4">
<form asp-controller="Admin" asp-action="Roles" method="post">
        <div class="form-group row mb-3">
            <label for="IsActive" class="col-sm-2 col-form-label">Is Active:</label>
            <div class="col-sm-5">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="IsActive" name="IsActive" value="1">
                    <label class="form-check-label" for="IsActive">Toggle to activate/deactivate</label>
                </div>
            </div>
        </div>

    <div class="form-group row mb-3">
        <label for="Name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-5">
                <input type="text" class="form-control custom-input" id="Name" name="Name" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="Description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-5">
                <input type="text" class="form-control custom-input" id="Description" name="Description">
        </div>
    </div>
   
    <div class="form-group row mb-3">
        <label for="CompanyId" class="col-sm-2 col-form-label">Company ID:</label>
        <div class="col-sm-5">
                <input type="number" class="form-control custom-input" id="CompanyId" name="CompanyId" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="BranchId" class="col-sm-2 col-form-label">Branch ID:</label>
        <div class="col-sm-5">
                <input type="number" class="form-control custom-input" id="BranchId" name="BranchId" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="AddedBy" class="col-sm-2 col-form-label">Added By:</label>
        <div class="col-sm-5">
                <input type="number" class="form-control custom-input" id="AddedBy" name="AddedBy" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="AddedDate" class="col-sm-2 col-form-label">Added Date:</label>
        <div class="col-sm-5">
                <input type="datetime-local" class="form-control custom-input" id="AddedDate" name="AddedDate" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="UpdatedById" class="col-sm-2 col-form-label">Updated By:</label>
        <div class="col-sm-5">
                <input type="number" class="form-control custom-input" id="UpdatedById" name="UpdatedById" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label for="UpdatedDate" class="col-sm-2 col-form-label">Updated Date:</label>
        <div class="col-sm-5">
                <input type="datetime-local" class="form-control custom-input" id="UpdatedDate" name="UpdatedDate" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Role</button>
</form>
</div>
<style>
    input[type="checkbox"] {
        position: relative;
        width: 40px; 
        height: 20px; 
        -webkit-appearance: none;
        appearance: none;
        background: orange;
        outline: none;
        border-radius: 0.85rem; 
        cursor: pointer;
        box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
    }

        input[type="checkbox"]::before {
            content: "";
            width: 20px;
            height: 20px; 
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }

        input[type="checkbox"]:checked::before {
            transform: translateX(100%);
            background: #fff;
        }

        input[type="checkbox"]:checked {
            background: #00ed64;
        }
    .sliding-checkbox {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .custom-input:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
</style>