@using Microsoft.AspNetCore.Mvc
@using GroupWork.Models
@using GroupWork.Controllers
@if (ViewData["IsAdminRole"] as bool? == true)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageEmployee">Handle Employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageUser">Handle Users</a>
    </li>
}
