
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="UserInfo">View Info</a>
    </li>
<li class="nav-item">
    <form asp-controller="User" asp-action="Logout" method="post" id="logoutForm">
        <button type="submit" class="btn btn-link nav-link text-dark">Sign Out</button>
    </form>
</li>

