
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageUsers">Manage Users</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManagePermission">Manage Permissions</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageCompany">Manage Company</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageBranch">Manage Branch</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Employee" asp-action="ManageEmployee">Manage Employee</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Logout", "Admin")" class="nav-link text-dark" onclick="return confirmLogout();">Logout</a>
</li>
<script>
    function confirmLogout() {
        return confirm("Are you sure you want to log out?");
    }
</script>

